/* colore variables */ 
:root 
{
    --dark-blue: #003b58;
    --light-blue:#d4e1e7;
    --crimson:#c9143f;
    --cyan:#02b4c0;
    --black:#100f0d;
    --dark-gray:#555152;
    --body-bg:#fff;
}
body {
    font-family: 'montserrat', sans-serif; 
    font-size: 120%;
    color: var(--black);
    background-color: var(--body-bg);
    margin: 0;
    font-weight: 400;
}
h1,h2,h3,h4 {
    font-weight: 600;
}
header, main, footer {
    margin: 0;
}
/*buttons */
a.button {
    display: inline-block;
    width: auto;
    padding: 0.5em 1em ;
    background-color: var(--dark-blue);
    border-radius: 1em;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}
a.button.primary {
    background-color: var(--cyan);
}

/*navbar styling*/
#hero nav {
    display: flex;
    justify-content: space-between;
    padding: 0.5em 1em;
    font-size: small;
    background-color: white;
    grid-area: nav;
}
#hero nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin: 0;
}
#hero nav a {
    display: block;
    padding: 0.5em 1em ;
    text-decoration: none;
    text-transform: uppercase;
    font-weight:bold;
}
nav a {
    color: var(--dark-gray);
}

/* style the hero unit */
#hero {  
    background-image: url();
    background-repeat: no-repeat ;
    background-position: right 190px;
    background-size: contain;
}
#hero-nav {
    grid-area: nav;
}
#sign-up-discount {
    grid-area: discnt;
    background-color: var(--crimson);
    color: var(--body-bg);
    display: flex;
    justify-content: center;
    padding: 0.5em 1em;
}
#sign-up-discount b {
    text-transform: uppercase;
}
#tagline {
    grid-area: tag;
    background-color: #ffffff99;
    align-self: center;
    padding: 0.5em 1em 1em;
}
#products {
    grid-area: prod;
}
#products {
    font-size: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    column-gap: 2em;
    background-color: white;
}
div.card {
    padding: 1em;
}

/* other styles*/
footer {
    color: white;
    padding: 1em;
    background-color: var(--dark-blue);
}

@media only screen and ( min-width: 600px) {
    #hero {
        background-image: url('PICTURE/muffins-ge77e97513_1920.jpg');
        background-size: contain;
        background-position: right 150px;
        display: grid;
        grid-template-columns: 1fr 1fr 2fr 2fr 2fr 1fr;
        grid-template-rows: 
            minmax(100px, auto)
            minmax(80px, auto)
            minmax(50vh,60vh)
            auto;
        grid-template-areas: 
        "nav nav nav nav nav nav"
        "discnt discnt discnt discnt discnt discnt"
        ". tag tag . . ."
        'prod prod prod prod prod prod ';
    }

    section#tagline {
        background-color: rgba(0,0,0,0);
    }
}
@media only screen and (min-width:900px) {
    #hero {
        background-position: right 100px;
    }
}
@media only screen and (min-width: 1100px) {
    #hero {
        background-position: bottom right;
        background-position: right top;
    }
}